@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura_pt_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futura_pt_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futura_pt_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futura_pt_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futura_pt_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futura_pt_bold.svg#futura_pt_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura_pt_book.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futura_pt_book.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futura_pt_book.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futura_pt_book.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futura_pt_book.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futura_pt_book.svg#futura_pt_book') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura_pt_heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futura_pt_heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futura_pt_heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futura_pt_heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futura_pt_heavy.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futura_pt_heavy.svg#futura_pt_heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura_pt_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futura_pt_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futura_pt_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futura_pt_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futura_pt_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futura_pt_light.svg#futura_pt_light') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura_pt_medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futura_pt_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futura_pt_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futura_pt_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futura_pt_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futura_pt_medium.svg#futura_pt_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/myriadpro-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/myriadpro-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/myriadpro-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/myriadpro-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/myriadpro-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/myriadpro-bold.svg#myriadpro-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadProRegular.otf'); /* IE 9 Compatibility Mode */
	src: url('../fonts/MyriadProRegular.ttf') format('truetype'); /* Safari, Android, iOS */
}